{% extends 'home/base.html' %}
{% load static %}

{% block title %}: My Home Page{% endblock title %}


{% block content %}
    
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
	<img src="{% static 'image/Rittisak.jpg' %}" width="450"><br><br>
	<h1 class="display-4 fw-normal">Who is Rittisak ?</h1>
	<p class="fs-5 text-muted">Rittisak เป็นวิศวกร ที่กำลังเริ่มศึกษาการเขียนโปรแกรม Python Django กับเพจลุงวิศวกร เพื่อต่อยอดในการทำระบบเก็บข้อมูลรายละเอียดการซ่อมบำรุงเครื่องจักร.</p>
</div>  


{% endblock content %}



{% block link %}
	<li class="mb-1"><a class="link-secondary text-decoration-none" href="{% url 'home-page' %}">Home</a></li>
{% endblock link %}
