{% extends 'home/base.html' %}
{% load static %}

{% block title %}: My Profile{% endblock title %}


{% block content %}
    
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
	<img src="{% static 'image/Rittisak.jpg' %}" width="450"><br><br>
	<h1 class="display-4 fw-normal">Who is Rittisak ?</h1>
	<p class="fs-5 text-muted">My name is : Rittisak P.</p>
	<p>My nickname is : Mike</p>
	<p>job : Engineer</p>
	<p>Telephone : 084-314xxxx</p>
	<p>E-mail : eng.rittisak@gmail.com</p>

</div>  


{% endblock content %}

